body {
    background-color: #000;
    margin: 0;
}

h2 {
    color: #fff;
}

header {
    border-bottom: solid 1px oklch(52.7% .154 150.069)
}
.heading-name-card {
    color: #0f0;
}

.heading-profession {
    color: #fff;
}

.split {
  height: 8%;
  position: fixed;
  z-index: 1;
  top: 10;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  width: 30%;
}

/* Control the right side */
.right {
  right: 0;
  width: 70%;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.vertical-row {
  height: 100%;
  width: 1px;
  background: oklch(52.7% .154 150.069);
  top: 20;
  bottom: 0;
  position: absolute;
  left: 30%;
}